
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="CSS/estilos.css" rel="stylesheet" type="text/css"/>
       
    </head>

    <body>
        
        <div class="imagen">
            <img src="imagenes/University_of_Lima_logo.png" alt=""/>
        </div>
       
        
        <form action="/index" method="post">
            <h2>Login</h2>
            <input type="text" id="user" name="user" placeholder="&#128272; Usuario" name="Usuario">
            <input type="password" id="pass" name="pass" placeholder="&#128272; Contraseña" name="clave">
            <input type="submit" value="Ingresar ">
        </form>
    </body>
</html>