<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
   
    <link href="EstiloMenu.css" rel="stylesheet" type="text/css"/>
    <style>
            .centertable{
                width: 80%;
                margin: auto;
            }
    </style>

</head>
<body>
<h1 align="center">Universidad de Lima <img width="100" height="100" src="Images/logo-universidad-de-lima.png" alt="Universidad de Lima"> </h1>

<div class="container">

    <div class="Row">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://www.ulima.edu.pe/"><img src="Images/logo.png" alt=""/></a>

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                        <span class="sr-only">Barra de navegacion</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                </div>
                <div id="navbar1" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/index">Tesis</a></li>
                        <li><a href="/asesores">Asesores</a></li>
                        <li  class="active"><a href="#">Repositorio de tesis</a></li>
                        <li><a href="/registro">Registro virtual</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
</div>

<table class="table table-striped centertable">
    <H1 ALIGN=JUSTIFY>Agregado Recientemente</H1>
    <thead>
    <tr>
        <th>Fecha de publicacion</th>
        <th>Titulo</th>
        <th>Autor(es)</th>
      
    </tr>
    </thead>
    <tbody>
    #foreach( $tesis in $tesiss)
        <tr>
            <th scope="row">${tesis.fecha}</th>
            <td>${tesis.titulo}</td>
            <td>${asesor.autor}</td>
        </tr>
    #end
    </tbody>
</table>


</body>
</html>
